<!DOCTYPE html>
<html>
<head>
    <title>Water Quality Prediction</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'waterpotability/styles.css' %}">
</head>
<body>
    <h1>Predict Water Potability</h1>
    <form method="post" action="{% url 'predict' %}">
        {% csrf_token %}
        <label for="ph">pH:</label>
        <input type="text" id="ph" name="ph" required><br>
        <label for="hardness">Hardness:</label>
        <input type="text" id="hardness" name="hardness" required><br>
        <label for="solids">Solids:</label>
        <input type="text" id="solids" name="solids" required><br>
        <label for="chloramines">Chloramines:</label>
        <input type="text" id="chloramines" name="chloramines" required><br>
        <label for="sulfate">Sulfate:</label>
        <input type="text" id="sulfate" name="sulfate" required><br>
        <label for="conductivity">Conductivity:</label>
        <input type="text" id="conductivity" name="conductivity" required><br>
        <label for="organic_carbon">Organic Carbon:</label>
        <input type="text" id="organic_carbon" name="organic_carbon" required><br>
        <label for="trihalomethanes">Trihalomethanes:</label>
        <input type="text" id="trihalomethanes" name="trihalomethanes" required><br>
        <label for="turbidity">Turbidity:</label>
        <input type="text" id="turbidity" name="turbidity" required><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
